.home {
  width: 100%;
  .theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
    color: rgba(0, 0, 0, 0.6) !important;
    background-color: transparent;
    height: auto;
  }
  .v-item-group.v-bottom-navigation .v-btn.v-btn--active {
    color: inherit;
    background-color: transparent;
    height: auto;
  }

  .v-item-group.v-bottom-navigation {
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    width: 100%;
    box-shadow: none !important; /* 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
    background-color: transparent !important;
  }
  .v-btn__content {
    align-items: center;
    color: #fff !important;
    display: flex;
    font-size: medium;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
  }
  b {
    white-space:pre-line
  }
  /*.v-select__selection {
    color: #fff;
  }
  .theme--light.v-label {
    color: rgba(255, 255, 255, 0.6);
  }*/
}

#color_picker {
  position: absolute;
  width: 300px;
}

#menu {
  position: absolute;
  width: 100px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}

#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: lightgray;
}
